.header{
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}
.nav-image{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}