
.container-image{
    width: 845px;
    height: 450px;
    padding: 8px;
    border-radius: 8px;
}
.author-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.author-info{
    
    display: flex;
    align-items: center;
}
.author-details img{
    margin-right: 16px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}